body{
    margin:0;
    font-family:Arial;
    background:#0b0c10;
    color:white;
}

/* TOP BAR */
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#111827;
}

.logo{
    font-weight:bold;
    letter-spacing:2px;
}

.links a{
    margin:0 10px;
    color:#ccc;
    text-decoration:none;
}

.links a:hover{
    color:white;
}

/* HERO */
.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:10px;
}

.hero p{
    color:#aaa;
}

/* BUTTONS */
.cta{
    margin-top:30px;
}

.btn{
    padding:12px 20px;
    margin:5px;
    border-radius:10px;
    text-decoration:none;
    display:inline-block;
}

.primary{
    background:#7c3aed;
    color:white;
}

.primary:hover{
    background:#9b5cf6;
}

.dark{
    background:#1f2937;
    color:white;
}

/* SECTION */
.section{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:60px 20px;
    flex-wrap:wrap;
}

.box{
    width:280px;
    padding:20px;
    background:#111827;
    border:1px solid #2e2e3a;
    border-radius:12px;
}
