body{
    margin:0;
    font-family:Arial;
    background:#0b0c10;
    color:white;
}

/* NAV */
nav{
    display:flex;
    justify-content:center;
    gap:12px;
    padding:15px;
    background:#111827;
    flex-wrap:wrap;
}

nav a{
    text-decoration:none;
    color:white;
    padding:10px 15px;
    background:#7c3aed;
    border-radius:10px;
}

nav a:hover{
    background:#a855f7;
}

/* HERO */
.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:50px;
}

.hero span{
    color:#fbbf24;
}

.hero p{
    color:#aaa;
}

/* BUTTONS */
.btn{
    display:inline-block;
    padding:12px 20px;
    margin:5px;
    border-radius:10px;
    text-decoration:none;
    background:#7c3aed;
    color:white;
}

.btn:hover{
    background:#a855f7;
}

.gold{
    background:#fbbf24;
    color:black;
}

/* PRICING */
.pricing{
    text-align:center;
    padding:80px 20px;
}

.pricing-grid{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.price-card{
    width:220px;
    background:#111827;
    border:1px solid #2e2e3a;
    border-radius:15px;
    padding:20px;
    position:relative;
}

.price-card:hover{
    transform:translateY(-10px);
    border-color:#7c3aed;
}

.price-card h1{
    font-size:40px;
}

.price-card p{
    color:#aaa;
}

.tag{
    position:absolute;
    top:-10px;
    left:50%;
    transform:translateX(-50%);
    background:#fbbf24;
    color:black;
    padding:5px 10px;
    border-radius:10px;
    font-size:12px;
}
